@media screen and (min-width:480px) {

    .container {
        max-width: 458px;

    }

    .banner {
        max-width: 480px;
        background: var(--banner-background-color);
        text-align: center;
        margin: 0 auto;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: var(--gra), url(../images/people-office-mobile.jpg);
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .banner {
            background-image: var(--gra), url(../images/people-office-mobile-2x.jpg);
        }
    }

    .banner-title {
        font-size: 36px;
        line-height: 1.11;
        width: 318px;
        margin: 0 auto;
        padding-bottom: 72px;
    }

    .header-logo {
        line-height: 1.16;
        font-size: var(--header-logo-font-size);
    }

    .mob-menu-tel {
        font-size: 36px;
    
    }

    .cont {
        list-style-type: none;
    
        margin-bottom: 48px;
    }

    .cont-item {
        padding-bottom: 40px;
    }

    .main-team-item {
        margin-bottom: 72px;
    }

    .footer-subscribe-label {
        width: 398px;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 392px;
        padding: 24px;
        min-height: 576px;
        background-color: var(--modal-background-color);
        border-radius: 4px;
        box-shadow: var(--modal-box-shadow);
        transition: transform 250ms linear;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}